---
import {Card} from "@eliancodes/brutal-ui";
import TimelineWeek from "./TimelineWeek.astro";
import {timelineWeekByMonth} from "@resources/TimeLineResource";
---
<>
    {timelineWeekByMonth.map((eventsByMonth) =>
            <>
                <div class=`md:col-start-2 col-span-1 row-span-${eventsByMonth.elementTimeline.length}`>
                    <div id=`mois-${eventsByMonth.month}` class="top-8 sticky">
                        <Card>
                            <p class="capitalize text-1xl md:text-2xl lg:text-3xl text-center">{e.month}</p>
                        </Card>
                    </div>
                </div>
                <div class='md:col-start-3 col-span-1 row-span-1'>
                    {e.elementTimeline.map((timelineWeek) =>
                            <div class="mb-4 top-8 last:mb-0">
                                <TimelineWeek timelineWeek={timelineWeek}/>
                            </div>
                    )}
                </div>
            </>
        )}
</>
