---
import { Config, Card, Button } from "@eliancodes/brutal-ui";
import Item from "@components/generic/chronological/Item.astro";
import type { ElementTimeline } from "@components/generic/chronological/Item.astro";

type Months =
	| "janvier"
	| "février"
	| "mars"
	| "avril"
	| "mai"
	| "juin"
	| "juillet"
	| "août"
	| "septembre"
	| "octobre"
	| "novembre"
	| "décembre";
type ElementsTimelineByMonth = {
	month: Months;
	elementTimeline: ElementTimeline[];
}[];

const months: Months[] = [
	"janvier",
	"février",
	"mars",
	"avril",
	"mai",
	"juin",
	"juillet",
	"août",
	"septembre",
	"octobre",
	"novembre",
	"décembre",
];
const color = Config.colors[Math.floor(Math.random() * Config.colors.length)];
const elementsTimelineByMonth: ElementsTimelineByMonth = [
	// 27
	{
		month: "mars",
		elementTimeline: [
			{
				title: "Début de programme jedi - padawan",
				weekNumber: 11,
				color,
			},
			{
				events: ["Poster à DEVFEST LILLE", "Poster à DEVQUEST"],
				weekNumber: 12,
				color,
			},
			{
				title: "Fin du premier mois",
				weekNumber: 13,
				color,
			},
		],
	},
	{
		month: "avril",
		elementTimeline: [
			{
				weekNumber: 14,
				color,
			},
			{
				events: ["Formation feedbacks"],
				weekNumber: 15,
				color,
			},
			{
				weekNumber: 16,
				color,
			},
			{
				events: ["Interview de Christophe", "Feedbacks"],
				weekNumber: 17,
				color,
			},
		],
	},
	{
		month: "mai",
		elementTimeline: [
			{
				weekNumber: 18,
				color,
			},
			{
				weekNumber: 19,
				color,
			},
			{
				weekNumber: 20,
				events: ["Formation prise de parole fondamentaux"],
				color,
			},
			{
				events: [
					"Poster un article", 
					"Partager sur linkedin l'article", 
					"Point de suivi",
					"Formation prise de parole avancée"
				],
				weekNumber: 21,
				color,
			},
		],
	},
	{
		month: "juin",
		elementTimeline: [
			{
				events: ["Partage d'une veille", "Poster à un meetup", "Feedbacks"],
				weekNumber: 22,
				color,
			},
			{
				events: ["EventTeck front"],
				weekNumber: 23,
				color,
			},
			{
				events: ["Sensibilisation à la rédaction de contenu"],
				weekNumber: 24,
				color,
			},
			{
				weekNumber: 25,
				color,
			},
			{
				events: ["Partage d'une veille", "Feedbacks"],
				weekNumber: 26,
				color,
			},
		],
	},
	{
		month: "juillet",
		elementTimeline: [
			{
				weekNumber: 27,
				color,
			},
			{
				weekNumber: 28,
				color,
			},
			{
				weekNumber: 29,
				color,
			},
			{
				events: [
					"Partage d'une veille", 
				"Feedbacks", 
				"Animer un point technique",
				"Donner une formation interne",
				"Faire une qualification technique"
			],
				weekNumber: 30,
				color,
			},
		],
	},
	{
		month: "août",
		elementTimeline: [
			{
				weekNumber: 31,
				color,
			},
			{
				weekNumber: 32,
				color,
			},
			{
				weekNumber: 33,
				color,
			},
			{
			events:[
	"Feedbacks", "Partage d'une veille", 
"Participer à un projet open source", 
"Mettre en place une veille efficace"],			
weekNumber: 34,
				color,
			},
		],
	},
	{
		month: "septembre",
		elementTimeline: [
			{
				weekNumber: 35,
				color,
			},
			{
				weekNumber: 36,
				color,
			},
			{
				title: "Fin du programme jedi padawan",
				weekNumber: 37,
				color,
			},
		],
	},
];
const nowMonth = months[new Date().getMonth()];
---
<section>
<div class='grid grid-cols-1 md:grid-cols-3 grid-rows-* mt-20 gap-y-10 gap-x-4'>
	<!-- <h2 class='hidden'>Programme jedi padawan</h2> sticky rotate-225 style={{ writingMode: 'vertical-rl' }}-->
        <div class="md:grid-start-1 col-span-1 row-span-full sticky top-8 ">
          <Card >
			<div class="flex flex-col items-center gap-8">
              <p class='text-2xl md:text-5xl lg:text-6xl'>Agenda</p>
			  <Button class="brutal-btn w-max" href=`#mois-${nowMonth}`>Mois en cours</Button>
			</div>
          </Card>
        </div>
	  {elementsTimelineByMonth.map((e, i)=>
	  <>
	  <div class=`md:col-start-2 col-span-1 row-span-${e.elementTimeline.length}`>
		<div id=`mois-${e.month}` class="top-8 sticky">
		<Card>
          <p class="capitalize text-1xl md:text-2xl lg:text-3xl text-center">{e.month}</p>
        </Card>
		</div>
	</div>
	<div class='md:col-start-3 col-span-1 row-span-1'>
		{e.elementTimeline.map((elementTimeline)=>
		<div class="mb-4 top-8 last:mb-0" >
          <Item elementTimeline={elementTimeline} />
	</div>
		)}
	</div>
		</>)}

</div>
</section>
